.Sliver {
  position: relative;
  &:not(.Sliver-scroller) > .SliverList {
    position: relative;
  }
  &-scroller {
    overflow: auto;
  }
  &-autoSize {
    height: 100%;
  }

  &List {
    &-item {
      transition: all ease-out 0.3s;

      &[aria-selected] {
        background-color: #eee;
      }
    }
  }

  &Section {
    &-header {
      position: sticky;
      z-index: 1;
    }
  }

  &Auto {
    --size: auto;
  }

  &Tree {
    transition: all ease-out 0.3s;
    background-color: #fff;
    &-label {
      --pos: 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      &[aria-selected] {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    &-toggle {
      width: 1.5em;
      height: 1.5em;
      margin-right: 6px;
      cursor: pointer;
      &::before {
        content: "▼";
        font-size: 1.25em;
        display: block;
        text-align: center;
        transition: all ease-out 0.3s;
        transform: rotate(-90deg) scaleY(0.5);
      }
      &.expanded {
        &::before {
          transform: rotate(0deg) scaleY(0.5);
        }
      }
    }
  }
  .hidden {
    overflow: hidden !important;
  }
}

.horizontal .Sliver {
  &Section {
    &-header {
      top: 0;
      height: calc(var(--size) * 1px);
    }
  }

  &Section,
  &Tree-label,
  &List,
  &List-item,
  &Auto {
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(var(--size) * 1px);
    top: calc(var(--pos) * 1px);
  }

  &Tree {
    &-label {
      padding-left: calc(30px + var(--level) * 30px);
    }
  }
}

.verticle .Sliver {
  &Section {
    &-header {
      left: 0;
      height: 100%;
      width: calc(var(--size) * 1px);
    }
  }

  &Section,
  &Tree-label,
  &List,
  &List-item {
    position: absolute;
    height: 100%;
    width: calc(var(--size) * 1px);
    left: calc(var(--pos) * 1px);
    top: 0;
  }
}
